{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Bedankt voor het aanmelden bij {{ app_name }}.</p>

{% if user_manager.enable_confirm_email and not user.confirmed_at -%}
<p>De voldende stap is het bevestigen van je emailadres.</p>

<p>Als je deze registratie hebbt aangevraagd, klik dan alsjebblieft op onderstaande link:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Confirm your email</a>.</p>

<p>Als je deze registratie niet hebt aangevraagd, Dan kun je veilig deze mail negeren.</p>

{% endif %}

{% endblock %}