 {% block body %}
    <div id="header-div" class="clearfix with-margins">
        <div class="pull-left"><a href="/"><h1 class="no-margins">The Code Rebels</h1></a></div>
        <div class="pull-right">
            {% if call_or_get(current_user.is_authenticated) %}
                <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">Sign out</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">Sign in</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block menu %}
    <div id="menu-div" class="with-margins">
        <a href="/">Home</a>
        {% if call_or_get(current_user.is_authenticated) %}
            &nbsp; | &nbsp; <a href="{{ url_for('user.profile') }}">User profile</a>
        {% endif %}
    </div>
    {% endblock %}

<body class="no-js"> <img src="http://rebels-app.a2t6risjzg.eu-west-1.elasticbeanstalk.com/static/images/borntocode.png" width="200" height="auto " alt="" class="logo"></div>

 <footer class="container-fluid text-center">
      <h1>{%trans%}ZET M OP{%endtrans%}
                    {{ current_user.username or current_user.email }}!</h1>
    </footer>
    <div class="container text-center">
        <h3>HTML voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
            <a href="pop_up_scratch"> <iframe width="560" height="315" src="https://www.youtube.com/embed/KHqMZIZxLv4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </a>

                <h3>Scratch introductie </h3>
            </div>

            <!--<div class="col-sm-4">-->
                <!--<img src="/static/images/scratch_tegel.png" class="img-responsive" style="width:100%" alt="Image">-->
                <!--<p>Python Start Project2 </p>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="well">-->
                    <!--<p>Met scratch kun je de basis leren van programmeren. </p>-->
                <!--</div>-->
                <!--<div class="well">-->
                    <!--<p>Some text..</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div><br>


<html lang="en">

<head>
    <title>The CodeRebels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Add a gray background color and some padding to the footer */

        footer {
            background-color: #24ec12;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%;
            /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }
        /* Hide the carousel text when the screen is less than 600 pixels wide */

        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }

        .navbar-inverse .navbar-collapse,
        .navbar-inverse .navbar-form
    </style>
</head>

<body>

   

<body ></div>

 <footer class="container-fluid text-center">
        test test
    </footer>
    <div class="container text-center">
        <h3>Scratch voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
            <a href="pop_up_scratch"> <img src="/static/images/scratch_tegel.png"" class="img-responsive" style="width:100%" alt="Image"> </a>

                <h3>Scratch introductie </h3>
            </div>

            <!--<div class="col-sm-4">-->
                <!--<img src="/static/images/scratch_tegel.png" class="img-responsive" style="width:100%" alt="Image">-->
                <!--<p>Python Start Project2 </p>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="well">-->
                    <!--<p>Met scratch kun je de basis leren van programmeren. </p>-->
                <!--</div>-->
                <!--<div class="well">-->
                    <!--<p>Some text..</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div><br>





<!-- module 2 -->

<footer class="container-fluid text-center">
        <h1>HTML voor beginners</h1>
    </footer>
    <div class="container text-center">
        <h3>HTML voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
            <a href="pop_up_html"> <img src="/static/images/Kid-Programming-637x369.jpg" class="img-responsive" style="width:100%" alt="Image"> </a>

                <h3>HTML introductie </h3>
            </div>

            <div class="col-sm-4">
                <img src="/static/images/Kid-Programming-637x369.jpg" class="img-responsive" style="width:100%" alt="Image">
                <h3>HTML stap 2 </h3>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>Met scratch kun je de basis leren van programmeren. </p>
                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
            </div>
        </div>
    </div><br>
        <footer class="container-fluid text-center">
        <h1>Python voor beginners</h1>
    </footer>
    <div class="container text-center">
        <h3>Python voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
            <a href="pop_up_python">  <img src="/static/images/Kid-Programming-637x369.jpg" class="img-responsive" style="width:100%" alt="Image"> </a>

                <h3>Python introductie </h3>
            </div>

            <div class="col-sm-4">
                <img src="/static/images/Kid-Programming-637x369.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p>Python Start Project2 </p>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>Met scratch kun je de basis leren van programmeren. </p>
                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
            </div>
        </div>
    </div><br>




    <footer class="container-fluid text-center">
        <h1>Footer Text</h1>
    </footer>

</body>

</html>


<!-- module 2 -->


