 {% block body %}
    <div id="header-div" class="clearfix with-margins">
        <div class="pull-left"><a href="/"><h1 class="no-margins">The Code Rebels</h1></a></div>
        <div class="pull-right">
            {% if call_or_get(current_user.is_authenticated) %}
                <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">Sign out</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">Sign in</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block menu %}
    <div id="menu-div" class="with-margins">
        <a href="/">Home</a>
        {% if call_or_get(current_user.is_authenticated) %}
            &nbsp; | &nbsp; <a href="{{ url_for('user.profile') }}">User profile</a>
        {% endif %}
    </div>
    {% endblock %}

<body class="no-js"> <img src="http://rebels-app.a2t6risjzg.eu-west-1.elasticbeanstalk.com/static/images/borntocode.png" width="200" height="auto " alt="" class="logo"></div>

 <footer class="container-fluid text-center">
        <h1>Scratch voor beginners</h1>
    </footer>
    <div class="container text-center">
        <h3>Scratch voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
            <a href="pop_up_scratch"> <img src="/static/images/scratch_tegel.png"" class="img-responsive" style="width:100%" alt="Image"> </a>

                <h3>Scratch introductie </h3>
            </div>

            <!--<div class="col-sm-4">-->
                <!--<img src="/static/images/scratch_tegel.png" class="img-responsive" style="width:100%" alt="Image">-->
                <!--<p>Python Start Project2 </p>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<div class="well">-->
                    <!--<p>Met scratch kun je de basis leren van programmeren. </p>-->
                <!--</div>-->
                <!--<div class="well">-->
                    <!--<p>Some text..</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div><br>





<!-- module 2 -->


