 class="logo"></div>

 <footer class="container-fluid text-center">
        <h1>Scratch les 1</h1>
    </footer>
    <div class="container text-center">
        <h3>Scratch voor beginners</h3><br>
        <div class="row">
        <div class="col-sm-4">
                <img src="/static/images/Kid-Programming-637x369.jpg" class="img-responsive" style="width:300%" alt="Image">

                <h3>Stap1 </h3>
            <div class="well">
                    <p>https://scratch.mit.edu/projects/editor/ </p>
                </div>
            </div>

            